@model WebApplication3.Models.Skins

@{
    ViewData["Title"] = "EditSkin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditSkin</h1>

<h4>Skins</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSkin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSkin" />
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RankRequiredToUnlock" class="control-label"></label>
                <input asp-for="RankRequiredToUnlock" class="form-control" />
                <span asp-validation-for="RankRequiredToUnlock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexSkin">Back to List</a>
</div>

